<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'admin/head_foot/style.html' %}
</head>

<body>
    <div id="app">
        <div class="main-wrapper">

            <div class="navbar-bg"></div>
            {% include 'admin/head_foot/head.html' %}


            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Credential Setting</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb mb-0">
                                <div class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                                </div>
                                <div class="breadcrumb-item"><a href="{{ url_for('admin.settings') }}">Settings</a>
                                </div>
                                <div class="breadcrumb-item active" aria-current="page">Credential Setting</div>
                            </div>
                        </div>
                    </div>
                    <div class="section-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="nav nav-pills flex-column" id="credientialTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active show" id="google-recaptcha-tab"
                                                    data-bs-toggle="tab" href="#google_recaptcha_tab" role="tab"
                                                    aria-controls="google-recaptcha" aria-selected="false">Google
                                                    reCaptcha</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="google-analytic-tab" data-bs-toggle="tab"
                                                    href="#google_analytic_tab" role="tab"
                                                    aria-controls="google-analytic" aria-selected="false">Google
                                                    Analytics</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="googel-tag-tab" data-bs-toggle="tab"
                                                    href="#googel_tag_tab" role="tab" aria-controls="googel-tag"
                                                    aria-selected="false">Google Tag Manager</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="facebook-pixel-tab" data-bs-toggle="tab"
                                                    href="#facebook_pixel_tab" role="tab" aria-controls="facebook-pixel"
                                                    aria-selected="false">Facebook Pixel</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="social-login-tab" data-bs-toggle="tab"
                                                    href="#social_login_tab" role="tab" aria-controls="social-login"
                                                    aria-selected="false">Social Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tawk-chat-tab" data-bs-toggle="tab"
                                                    href="#tawk_chat_tab" role="tab" aria-controls="tawk-chat"
                                                    aria-selected="false">Tawk Chat</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tab-content" id="myTabContent2">
                                            <div class="tab-pane fade show active" id="google_recaptcha_tab">
                                                <form method="POST">
                                                    <input type="hidden" name="section" value="recaptcha">

                                                    <label>Site Key</label>
                                                    <input class="form-control" name="recaptcha_site_key"
                                                        value="{{ credentials.get('recaptcha_site_key', {}).get('value','') }}" required>

                                                    <label class="mt-2">Secret Key</label>
                                                    <input class="form-control" name="recaptcha_secret_key"
                                                        value="{{ credentials.get('recaptcha_secret_key', {}).get('value','') }}" required>

                                                    <div class="form-group mt-2">
                                                        <label class="d-flex align-items-center mb-0">
                                                            <input type="hidden" name="recaptcha_status" value="0">
                                                            <input type="checkbox" name="recaptcha_status"
                                                                class="custom-switch-input" value="1" {% if
                                                                credentials.get('recaptcha_site_key',{}).get('status')
                                                                %}checked{% endif %}>
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Status</span>
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-success mt-3">
                                                        <i class="fa fa-sync"></i> Update
                                                    </button>
                                                </form>
                                            </div>

                                            <div class="tab-pane fade" id="google_analytic_tab">
                                                <form method="POST">
                                                    <input type="hidden" name="section" value="google_analytics">

                                                    <label>Measurement ID</label>
                                                    <input class="form-control" name="google_analytic_id"
                                                        value="{{ credentials.get('google_analytic_id', {}).get('value','') }}" required>

                                                    <div class="form-group mt-2">
                                                        <label class="d-flex align-items-center mb-0">
                                                            <input type="hidden" name="google_analytic_status"
                                                                value="0">
                                                            <input type="checkbox" name="google_analytic_status"
                                                                class="custom-switch-input" value="1" {% if
                                                                credentials.get('google_analytic_id',{}).get('status')
                                                                %}checked{% endif %}>
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Status</span>
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-success mt-3">
                                                        <i class="fa fa-sync"></i> Update
                                                    </button>
                                                </form>

                                            </div>

                                            <div class="tab-pane fade" id="googel_tag_tab">
                                                <form method="POST">
                                                    <input type="hidden" name="section" value="google_tag">

                                                    <label>Tag ID</label>
                                                    <input class="form-control" name="google_tag_id"
                                                        value="{{ credentials.get('google_tag_id', {}).get('value','') }}" required>

                                                    <div class="form-group mt-2">
                                                        <label class="d-flex align-items-center mb-0">
                                                            <input type="hidden" name="google_tag_status" value="0">
                                                            <input type="checkbox" name="google_tag_status"
                                                                class="custom-switch-input" value="1" {% if
                                                                credentials.get('google_tag_id',{}).get('status')
                                                                %}checked{% endif %}>
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Status</span>
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-success mt-3">
                                                        <i class="fa fa-sync"></i> Update
                                                    </button>
                                                </form>

                                            </div>

                                            <div class="tab-pane fade" id="facebook_pixel_tab">
                                                <form method="POST">
                                                    <input type="hidden" name="section" value="facebook_pixel">

                                                    <label>Pixel ID</label>
                                                    <input class="form-control" name="facebook_pixel_id"
                                                        value="{{ credentials.get('facebook_pixel_id', {}).get('value','') }}" required>

                                                    <div class="form-group mt-2">
                                                        <label class="d-flex align-items-center mb-0">
                                                            <input type="hidden" name="facebook_pixel_status" value="0">
                                                            <input type="checkbox" name="facebook_pixel_status"
                                                                class="custom-switch-input" value="1" {% if
                                                                credentials.get('facebook_pixel_id',{}).get('status')
                                                                %}checked{% endif %}>
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Status</span>
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-success mt-3">
                                                        <i class="fa fa-sync"></i> Update
                                                    </button>
                                                </form>


                                            </div>

                                            <div class="tab-pane fade" id="social_login_tab">
                                                <form method="POST">
                                                    <input type="hidden" name="section" value="social_login">

                                                    <label>Client ID</label>
                                                    <input class="form-control" name="google_login_client_id"
                                                        value="{{ credentials.get('google_login_client_id', {}).get('value','') }}" required>

                                                    <label class="mt-2">Secret</label>
                                                    <input class="form-control" name="google_login_secret_id"
                                                        value="{{ credentials.get('google_login_secret_id', {}).get('value','') }}" required>

                                                    <div class="form-group mt-2">
                                                        <label class="d-flex align-items-center mb-0">
                                                            <input type="hidden" name="google_login_status" value="0">
                                                            <input type="checkbox" name="google_login_status"
                                                                class="custom-switch-input" value="1" {% if
                                                                credentials.get('google_login_client_id',{}).get('status')
                                                                %}checked{% endif %}>
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Status</span>
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-success mt-3">
                                                        <i class="fa fa-sync"></i> Update
                                                    </button>
                                                </form>

                                            </div>



                                            <div class="tab-pane fade" id="tawk_chat_tab">
                                                <form method="POST">
                                                    <input type="hidden" name="section" value="tawk_chat">

                                                    <label>Chat URL</label>
                                                    <input class="form-control" name="tawk_chat_link"
                                                        value="{{ credentials.get('tawk_chat_link', {}).get('value','') }}" required>

                                                    <div class="form-group mt-2">
                                                        <label class="d-flex align-items-center mb-0">
                                                            <input type="hidden" name="tawk_chat_status" value="0">
                                                            <input type="checkbox" name="tawk_chat_status"
                                                                class="custom-switch-input" value="1" {% if
                                                                credentials.get('tawk_chat_link',{}).get('status')
                                                                %}checked{% endif %}>
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Status</span>
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-success mt-3">
                                                        <i class="fa fa-sync"></i> Update
                                                    </button>
                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>




            {% include 'admin/head_foot/script.html' %}



</body>

</html>